<! doctype html>

<html>
<head>
<title> First Web Page </title>
</head>
<body>
<h1> The Website </h1>
<p> Welcome </p>

space &nbsp;&nbsp;&nbsp;    space
<br>
<br>
<br>

<!--That was a line break-->

<h2> Information </h2>
<p> Second info </p>

<!--Unordered lists-->
<ul>
    <li>CD</li>
    <li>DVD</li>
    <li>Blu Ray</li>
</ul>
<!--Orderered list-->
<ol>
    <li>CD</li>
    <li>DVD</li>
    <li>Blu Ray</li>
</ol>

<!--tables-->
<table>
    <tr>
        <th>Planet</th>
        <th>Ocean</th>
        <th>Desert</th>
    </tr>
    <tr>
        <td>Earth</td>
        <td>Atlantic</td>
        <td>Sahara</td>
    </tr>
    <tr>
        <td>Mars</td>
        <td>Pacific</td>
        <td>Gobi</td>
    </tr>
    

</table>
</body>















</html>